@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    border: none;
    outline: none;
    background: none;
  }
  button:focus {
    outline: none;
  }
}

/* Remove scrollbar from Ant Design Modal body */
.ant-modal .ant-modal-body {
  overflow: visible !important;
}
.ant-modal-wrap {
  overflow: auto !important;
}
